[Unit]
Description=Rclone mount for OneDrive Notizen
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount onedrive:Notizen /home/me/Notizen --vfs-cache-mode writes --allow-other 
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

