[user]
	name = larsaars
	email = lars.lars.specht@gmail.com
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
[commit]
	gpgsign = false
[gpg]
	program = gpg
[pull]
	rebase = false
[init]
	defaultBranch = main
